.cart {
  display: flex;
  align-items: center;
  flex-direction: column;

  color: white;
}
.title {
  font-size: 24px;
  font-weight: 500;

  margin: 0;

  color: white;

  margin-bottom: 60px;
}

.sectionContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  & > *:not(:last-child) {
    margin-right: 70px;
  }
}
.items {
  flex: 1 1;

  display: flex;
  flex-direction: column;
  max-width: 800px;

  & > *:not(:last-child) {
    margin-bottom: 25px;
  }
}

.item {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  border-radius: var(--rad7);
  transition: var(--trans03s);

  //   &:hover {
  //     box-shadow: var(--sh7);
  //   }
}
.imageBlock {
  display: flex;
  max-width: 215px;
  max-height: 162px;
  margin-right: 35px;
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: var(--rad7);
  overflow-clip-margin: unset;
}
.descriptionBlock {
  flex: 1 1;

  display: flex;
  justify-content: space-between;

  padding: 20px 20px 15px 0;
}
.description {
  flex: 1 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: start;

  & > *:first-child {
    display: inline-block;
    margin-bottom: 15px;
  }
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: var(--gr);
  text-decoration: none;
  text-transform: capitalize;
}
.text {
  font-size: 14px;
  margin: 0;
}

.interactionBlock {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  & > *:first-child {
    display: inline-block;
    margin-bottom: 15px;
  }
}
.price {
  font-size: 18px;
  font-weight: 500;
  color: var(--gr);
}
.currency {
}
.value {
}

.interaction {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
.buttons {
  display: flex;
  align-items: center;

  & > * {
    transition: var(--trans03s);
  }
  & > *:hover {
    background: var(--gr);

    .path {
      fill: white;
    }
  }

  & > *:not(:last-child) {
    margin-right: 7px;
  }
}
.iconBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: 1px solid var(--gr);
  border-radius: var(--rad13);
  box-sizing: border-box;

  cursor: pointer;
}
.decrement {
  background: transparent;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 40px;

  font-size: 16px;
  font-weight: 500;

  padding-top: 3px;
  border: 1px solid var(--gr);
  border-radius: var(--rad13);
  box-sizing: border-box;

  cursor: text;
}
.increment {
  background: transparent;
}
.icon {
  width: 15px;
  height: 15px;
}
.path {
  transition: var(--trans03s);
  fill: var(--gr);
}

.removeBtn {
  height: 40px;
  font-weight: 500;

  padding: 0;

  border: none;
  outline: none;

  cursor: pointer;

  color: inherit;
  border-radius: var(--rad11);
  background-color: var(--rd);
}

// order
.order {
  flex: 1 1;

  max-width: 410px;
  min-width: 320px;
  color: var(--glob);
}
.orderInnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 162px;

  padding: 20px 30px;

  font-size: 18px;
  font-weight: 500;

  background: white;
  box-sizing: border-box;
  border-radius: var(--rad30);
}
.infoWrapper {
  display: flex;
  justify-content: space-between;
}
.orderInfo {
  display: flex;
}
.text {
  font-size: inherit;
  font-weight: inherit;
}
.value {
}
.orderTotal {
}
.currency {
}
.value {
}
.buyButton {
  border: none;
  outline: none;

  cursor: pointer;

  height: 50px;

  border-radius: var(--rad13);
  background: var(--gr);
  color: white;
}

.emptyCart {
  width: 100%;
  height: 100%;

  padding-top: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);

  p {
    margin: 0;
  }
}
