.product {
}
.sectionContent {
  display: flex;
}

.gallery {
  display: flex;

  margin-right: 100px;

  & > *:not(:last-child) {
    margin-right: 15px;
  }
}
.images {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }

  .imageBlock {
    display: flex;
    max-width: 111px;
    max-height: 83px;
    border-radius: var(--rad30);
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--rad15);
    overflow-clip-margin: unset;
  }
}
.mainImage {
  position: relative;
  z-index: 1;

  .imageBlock {
    display: flex;
    max-width: 505px;
    max-height: 380px;

    border-radius: var(--rad30);
    box-shadow: var(--sh7);

    cursor: zoom-in;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--rad30);
    overflow-clip-margin: unset;
  }
}

.description {
  flex: 1 1;

  display: flex;

  font-weight: 500;
  text-transform: capitalize;

  color: white;

  & > *:not(:last-child) {
    margin-right: 50px;
  }
}
.col {
  flex: 1 1;

  &:nth-child(2) {
    max-width: 179px;
  }

  & > *:first-child {
    margin: 0 0 50px 0;
  }
}
.name {
  font-size: 24px;
  color: var(--gr);
}
.table {
  display: table;
  width: 100%;

  & > *:not(:last-child) {
    margin-bottom: 12px;
  }
}
.row {
}
.cell {
  display: inline-block;
  width: 50%;

  font-weight: 400;
  line-height: 20px;
}
.price {
  font-size: 24px;
  color: var(--gr);
}
.currency {
  font-weight: 500;
}
.value {
  font-weight: 500;
}

.interaction {
  display: flex;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;

  & > * {
    transition: var(--trans03s);
  }
  & > *:hover {
    background: var(--gr);

    .path {
      fill: white;
    }
  }

  & > *:not(:last-child) {
    margin-right: 7px;
  }
}
.iconBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border: 1px solid var(--gr);
  border-radius: var(--rad13);
  box-sizing: border-box;

  cursor: pointer;
}
.decrement {
  background: transparent;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 50px;

  font-size: 20px;
  font-weight: 500;

  border: 1px solid var(--gr);
  border-radius: var(--rad13);
  box-sizing: border-box;

  //   cursor: pointer;
}
.increment {
}
.icon {
  width: 20px;
  height: 20px;
}
.path {
  transition: var(--trans03s);
  fill: var(--gr);
}

.buyButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;

  margin: 15px 0 0 0;

  border: none;
  outline: none;

  font-size: 16px;
  color: inherit;
  background: var(--gr);
  border-radius: var(--rad11);

  transition: var(--trans03s);

  cursor: pointer;

  &:hover {
    border-radius: var(--rad50);
  }
}

// zoom
.zoom {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 125px 0 0 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: var(--glob75);
  box-sizing: border-box;

  .imageBlock {
    display: flex;
    text-align: center;

    max-width: 1280px;
    max-height: 720px;

    border-radius: var(--rad50);
    box-shadow: var(--sh7);
  }
  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: var(--rad50);

    overflow-clip-margin: unset;
  }
  .closeButton {
    position: absolute;
    top: 125px;
    right: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;

    background: transparent;
    border-radius: var(--rad50);
    background: var(--b10);
    transition: var(--trans03s);

    cursor: pointer;

    border: none;
    outline: none;

    &:hover {
      background: var(--b25);

      .path {
        fill: var(--white55);
      }
    }
  }
  .icon {
  }
  .path {
    transition: var(--trans03s);
    fill: var(--strk);
  }
}
