.sneakers {
  display: flex;
  flex-direction: column;

  color: white;
}
.sectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-weight: 500;
  font-size: 24px;

  margin: 0 0 60px 0;

  color: var(--glob);
  background-color: white;
}
.cardsList {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}
.wrapper {
  flex: 0 0 25%;
  padding: 0 15px;

  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;

  border-radius: var(--rad7);
  background: var(--glob);

  transition: var(--trans03s);

  &:hover {
    box-shadow: var(--sh7);
  }
}
.imageBlock {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: var(--rad7);
}
.description {
  padding: 20px;
  box-sizing: border-box;

  color: var(--gr);

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
.price {
  font-size: 20px;
  font-weight: 500;
}
.currency {
}
.value {
}
.text {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}
