.header {
  flex: 0 0;

  width: 100%;

  border-bottom: 1px solid var(--strk);
}
.block {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 99px;
}
.nav {
}
.list {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding: 0;

  & > *:not(:last-child) {
    margin-right: 25px;
  }
}
.li {
  position: relative;
  border-radius: var(--rad50);

  transition: var(--trans03s);
}
.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 55px;
  background-color: transparent;

  outline: none;
  border: none;

  cursor: pointer;
}

.icon {
  width: 35px;
  height: 35px;
}

.path {
  fill: white;

  transition: var(--trans03s);
}

.active {
  background: white;

  .path {
    fill: var(--glob);
  }
}

.cartAlert {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 21px;
  height: 21px;

  font-size: 14px;
  font-weight: 500;
  color: var(--rd);

  background: white;
  border-radius: var(--rad50);
  box-shadow: var(--sh3);

  .amount {
    padding-left: 1px;
  }
}
