// import fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html {
  // radius
  --rad50: 50px;
  --rad30: 30px;
  --rad15: 15px;
  --rad13: 13px;
  --rad11: 11px;
  --rad7: 7px;

  // colors
  --b50: rgba(0, 0, 0, 0.5);
  --b10: rgba(0, 0, 0, 0.1);
  --b15: rgba(0, 0, 0, 0.15);
  --b25: rgba(0, 0, 0, 0.25);
  --strk: #505050;
  --glob: #2a2a2a;
  --glob75: rgba(42, 42, 42, 0.75);
  --gr: #80ada0;
  --gr75: rgba(128, 173, 160, 0.75);
  --gr11: rgba(128, 173, 160, 0.11);
  --rd: #ed6666;
  --white55: rgba(255, 255, 255, 0.55);

  // shadows
  --sh7: 0 0 19px 15px rgba(0, 0, 0, 0.07);
  --sh3: 0 0 19px 15px rgba(0, 0, 0, 0.03);

  // transition
  --trans03s: 0.3s ease-in-out;
}
#root {
}

body {
  background: var(--glob);
  font-family: "Montserrat";
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

// loader
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
